# App
PORT=3001
NODE_ENV=development

# Database (Postgres)
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/authdb?schema=public

# JWT (RS256)
JWT_ISSUER=auth-service
JWT_AUDIENCE=manpowerx
JWT_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----\nPASTE_KEY\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----\nPASTE_KEY\n-----END PUBLIC KEY-----"

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
